
<mat-card>
  <mat-toolbar color="primary">
    <span>Empresas </span>
  </mat-toolbar>


<table mat-table [dataSource]="empresa" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <!--  id', 'razaoSocial', 'cnpj', 'inscricaoEstadual', 'tipo' -->
   <!-- ID Column -->
   <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Identificador  </th>
    <td mat-cell *matCellDef="let course"> {{ course.id }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="razao">
    <th mat-header-cell *matHeaderCellDef> Razao Social </th>
    <td mat-cell *matCellDef="let element"> {{ element.razaoSocial }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="cnpj">
    <th mat-header-cell *matHeaderCellDef> CNPJ </th>
    <td mat-cell *matCellDef="let element"> {{ element.cnpj }} </td>
  </ng-container>


  <!-- Name Column -->
  <ng-container matColumnDef="inscricao">
    <th mat-header-cell *matHeaderCellDef> Inscrição Estadual </th>
    <td mat-cell *matCellDef="let element"> {{ element.inscricaoEstadual }} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="tipo">
    <th mat-header-cell *matHeaderCellDef> Tipo empresa</th>
    <td mat-cell *matCellDef="let element"> {{ element.tipo }} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</mat-card>

